@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

h1 {
    color: blueviolet;
    background-color: goldenrod;
}
h2{
    color: brown;
}
p{
    color: black;
    text-align: justify;
}
